* {
    margin:0;
    padding: 0;
}
body{
    background:#e6e6e6;
}

header, footer{
    /* responsive*/
    width:95%;

    margin:10px auto;

}

header nav {
    background: #528FD5;
    overflow: hidden;
    border-radius: 15px;


}

header nav ul {
    list-style: none;
    width: 50%;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover{
    background:#75ACEC;
}


footer{
    background: #000000;
    color: #ffffff;
    clear: both;
    padding: 8px;
    text-align: center;
    width: 95%;
}

footer p{
    margin: 0px;
}

.Textos{
    width: 95%;
    margin:10px auto;
    height: 50%;
}

.wolfram{
    float: left;
    width: 47.5%;
    margin-bottom: 10px;
    
}
.objetivo{
    float: left;
    width: 47.5%;
    margin-bottom: 10px;
    margin-left: 10px;
}
.foto1, .foto2{
    width: 100%;
    height: 23.75%;
    display: block;
    margin-bottom: 50px;
} 
.fotoCris, .fotoAl{
    width: 30%;
    height: 23.75%;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
} 
.centrado{
    text-align: center;
}
.contenedorBio{
    width: 80%;
    margin:10px auto;
    height: 50%;
    text-align: justify;
}
.audio{
    display: none;
}
.contenedorFormPac , .contenedorFormCitas{
    width: 90%;
    margin:10px auto;
    height: 50%;
    padding: 5%;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;

}
.contenedorFormHistorial{
    width: 90%;
    margin:10px auto;
    height: 100%;
    padding: 5%;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.login-form{
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    padding-bottom: 20px;
    background:white;
}
#historialP{
    width: 80%;
    height: 100%;

}

